name: CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy'
        required: true
        default: main

jobs:
  security-scan:
    name: Security scan (.NET)
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Install dotnet-outdated tool
        run: dotnet tool install --global dotnet-outdated-tool

      - name: Search for known vulnerable packages
        run: |
          echo "Searching for KNOWN vulnerabilities in packages..."
          dotnet list package --vulnerable --include-transitive

      - name: Check for outdated packages
        run: |
          echo "Checking for outdated (non-secure) packages..."
          dotnet-outdated

  build-and-deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    needs: security-scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/basickube:latest
          file: ./Dockerfile

      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG }}" | base64 --decode > kubeconfig

      - name: Create namespace
        run: |
          kubectl --kubeconfig=kubeconfig create namespace basickube-ns || true

      - name: Deploy to AKS
        run: |
          kubectl --kubeconfig=kubeconfig apply -f deploy/deployment.yaml
          kubectl --kubeconfig=kubeconfig apply -f deploy/service.yaml
          kubectl --kubeconfig=kubeconfig apply -f deploy/ingress.yaml

      - name: Force rollout restart
        run: |
          kubectl --kubeconfig=kubeconfig rollout restart deployment/basickube -n basickube-ns
