name: CI/CD

on:
  push:
    branches:
      - feature/mediatr_main
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy'
        required: true
        default: main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set Docker image tag
        run: echo "IMAGE_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/basickube:${IMAGE_TAG}
          file: ./Dockerfile

      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG }}" | base64 --decode > kubeconfig

      - name: Create namespace
        run: kubectl --kubeconfig=kubeconfig create namespace basickube-ns || true

      - name: Deploy to AKS
        run: |
          kubectl --kubeconfig=kubeconfig apply -f deploy/deployment.yaml
          kubectl --kubeconfig=kubeconfig apply -f deploy/service.yaml
          kubectl --kubeconfig=kubeconfig apply -f deploy/ingress.yaml